.header {
  display: flex;
  justify-content: space-between;
  background-color: #101010;
  padding: 14px 30px;
}
.buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  margin-right: 10px;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  list-style: none;
}
.navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
}
.navbar ul button {
  color: black;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}
.divider {
  color: white;
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}
